<h1>Witaj w matmie!</h1>
<h2>Zbieraj punkty za dobre rozwiązania!</h2>

<div class="container">
  <div class="jumbotron">
    <p>Wybierz, co chcesz poćwiczyć:</p>
      <ul>  
        <li><%= link_to "Tabliczka mnożenia", tabliczka_path %></li>
        <li><%= link_to "Liczby rzymskie ", liczby_rzymskie_path %>
        <li><%= link_to "Liczby większe i mniejsze: o ileś albo ileś razy ", ile_razy_o_ile_path %></li>
        <br/>
        
        <li><%= link_to "Ułamki dziesiętne", dzialanie_path %></li>
        <li><%= link_to "Przeliczanie jednostek", jednostki_path %></li>
        <li><%= link_to "Przeliczanie arów i hektarów", ary_hektary_path %>
        <li><%= link_to "Zaokrąglanie liczb naturalnych", zaokraglanie_liczb_naturalnych_path %></li>
        <li><%= link_to "Zaokrąglanie ułamków", zaokraglanie_ulamkow_path %></li>
        <li><%= link_to "Procenty", procenty_path %>
        <li><%= link_to "Liczby ujemne ", liczby_ujemne_path %><span class="badge badge-pill badge-success">Nowość!</span></li>

      </ul>
  </div>
</div>

