<h1>Ćwiczenia z matematyki</h1>
<h2>Działamy na ułamkach dziesiętnych! </h2>
<div class="container">
  <div class="jumbotron">
  <p>
  <%= generuj_dzialanie %>
  </p>
  
  
  <%= form_tag(method: "get", url: '/wynik') do %>
    <%= label_tag(:w, "Wpisz wynik") %>
    <%= text_field_tag(:w) %>
    <%= submit_tag("Sprawdź") %>
  <% end %>
  </div>  
</div>